body{
    background-color: #184e77;
}

#inputSection{
    margin: auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

h1{
    font-size: 3rem;
    color: #76C893; 
    margin-bottom: 5vh;
    text-align: center;
}

h3{
    font-size: 1rem;
    color: #76C893; 
    text-align: center;
}


form{
    width: 25%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    border: 0; 
    border-radius: 3rem;
    width: 70%; 
    text-align: center;
    transition: width 0.4s ease-in-out;
    min-width: 350px;

}  

input:focus{
    outline: none;  
    width: 100%; 
    box-shadow:0 0 15px 4px #76C893;
}

input:focus::placeholder {
    color: transparent;
  }

button{
    padding: 10px; 
    width: 20%; 
    min-width: 100px;
    margin: 5%; 
    border-radius: 3rem;
    background-color: transparent;
    color:#76C893; 
    border: 2px solid #76C893; 
    transition: background-color 0.4s ease-in-out; 
}

button:hover{
    background-color: #76C893;
    color: #184e77; 
}


#displaySection{
    background-color: transparent;
    border: 2px solid #76C893; 
    border-radius: 4rem;
    color: #76C893; 
    margin: auto; 
    width: 40vh; 
    height: 40vh;  
    min-height: 300px;
    min-width: 330px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

#displaySection h2 {
    font-size: 2rem;
}

#displaySection p{
    font-size: 1.5rem;
}

@media only screen and (max-height: 900px){
    #displaySection h2{
        margin: 10px; 
    }

    #displaySection p{
        margin: 10px; 
    }
}
